<section>
    <div class="card">
        <div class="cima">
            <img src="./rep1.png" alt="">
        </div>
        <div class="baixo">
            <p>How sucessful people make the most of their business</p>
            <p class="2">Um guia passo a passo para criar seu próprio blog</p>
            <span>Admin | Comments</span>
            <a href="">Read More →</a>
        </div>
    </div>
    <div class="card">
        <div class="cima">
            <img src="./rep2.png" alt="">
        </div>
        <div class="baixo">
            <p>How sucessful people make the most of their business</p>
            <p class="2">Um guia passo a passo para criar seu próprio blog</p>
            <span>Admin | Comments</span>
            <a href="">Read More →</a>
        </div>
    </div>
    <div class="card">
        <div class="cima">
            <img src="./rep3.png" alt="">
        </div>

        <div class="baixo">
            <p>How sucessful people make the most of their business</p>
            <p class="2">Um guia passo a passo para criar seu próprio blog</p>
            <span>Admin | Comments</span>
            <a href="">Read More →</a>
        </div>
    </div>
    <div class="card">
        <div class="cima">
            <img src="./rep4.png" alt="">
        </div>
        <div class="baixo">
            <p>How sucessful people make the most of their business</p>
            <p class="2">Um guia passo a passo para criar seu próprio blog</p>
            <span>Admin | Comments</span>
            <a href="">Read More →</a>
        </div>
    </div>
</section>